body {
    font-family: 'Cairo', sans-serif;
    background-color: #ffffff;
    direction: rtl;
    text-align: right;
    margin: 0;
    padding-top: 120px; 
    display: flex;
    justify-content: center; 
    align-items: center;     
    min-height: 100vh;     
    flex-direction: column;  
}
.admin-login-card {
    background: #fff;
    padding: 40px 30px;
    border-radius: 18px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.06);
    width: 100%;
    max-width: 400px;
    text-align: center;
       margin-bottom: 50px;
   
}

.admin-login-card h2 {
    color: #0F766E;
    margin-bottom: 10px;
}

.admin-login-card p {
    color: #6b7280;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
    text-align: right;
}

.form-group label {
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 12px 14px;
    border-radius: 10px;
    border: 1px solid #e5e7eb;
    font-size: 14px;
}

.form-group input:focus {
    outline: none;
    border-color: #14B8A6;
}

.btn-login {
    background: #14B8A6;
    color: #fff;
    border: none;
    padding: 12px 26px;
    border-radius: 30px;
    font-weight: 600;
    cursor: pointer;
    width: 100%;
}

.btn-login:hover {
    background: #0F766E;
}
.tiny-text a {
    color: #14B8A6;
    text-decoration: none;
    font-weight: 600;
}

.tiny-text a:hover {
    color: #14B8A6;
    text-decoration: underline;
}

.text-end a {
    color: #14B8A6;
    text-decoration: none;
    font-weight: 500;
}

.text-end a:hover {
    color: #14B8A6;
    text-decoration: underline;
}
.tiny-text {
    font-size: 11px;
    color: #555;
}
.btn-back {
    margin-top: 15px;
    background: transparent;
    color: #6b7280;
    border: 1px solid #d1d5db;
    padding: 10px 22px;
    border-radius: 25px;
    cursor: pointer;
    width: 100%;
}
