body {
    font-family: 'Cairo', sans-serif;
    background-color: #ffffff;
    direction: rtl;
    text-align: right;
    margin: 0;
    padding: 0;
}

.form-label {
    text-align: right;
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: #0000;
}

.tiny-text a {
    color: #14B8A6;
    text-decoration: none;
    font-weight: 600;
}

.tiny-text a:hover {
    color: #14B8A6;
    text-decoration: underline;
}

.text-end a {
    color: #14B8A6;
    text-decoration: none;
    font-weight: 500;
}

.text-end a:hover {
    color: #14B8A6;
    text-decoration: underline;
}


.login-wrapper {
    min-height: calc(100vh - 140px);
}

.login-card {
    background: #ffffff;
    border: 2px solid #14B8A6;
    border-radius: 18px;
    padding: 30px 22px;
    width: 100%;
    max-width: 360px;
}

.google-btn {
    width: 100%;
    border: none;
    background: #ffffff;
    border-radius: 12px;
    padding: 10px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.google-btn img {
    width: 20px;
}

.divider {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 12px;
    color: #666;
    margin: 14px 0;
}

.divider::before,
.divider::after {
    content: "";
    flex: 1;
    height: 1px;
    background: #bbb;
}

.divider::before {
    margin-left: 10px;
}

.divider::after {
    margin-right: 10px;
}

.custom-input {
    border-radius: 12px;
    border: 2px solid #14B8A6;
    font-size: 14px;
    padding: 10px;
}

.main-btn {
    width: 100%;
    background: #14B8A6;
    border: 2px solid #14B8A6;
    color: #ffffff;
    border-radius: 25px;
    padding: 10px;
    text-decoration: none;
    font-weight: 600;
}

.secondary-btn {
    width: 100%;
    background: #d8fff0;
    border: 2px solid #14B8A6;
    border-radius: 25px;
    padding: 10px;
    font-size: 14px;
}

.tiny-text {
    font-size: 11px;
    color: #555;
}
