body {
    font-family: 'Cairo', sans-serif;
    background-color: #eafff5;
    direction: rtl;
    text-align: right;
    margin: 0;
    padding-top: 20px;
}

.custom-nav {
    background-color: #eafff5;
    padding: 8px 0;
}

.navbar-brand {
    font-weight: 700;
}

.logo-img {
    height: 50px;
    width: auto;
}

.navbar-nav .nav-link {
    color: #1b6e4b;
    font-weight: 600;
}

.navbar-nav .nav-link:hover {
    color: #024628;
}

.logo-img {
    height: 50px;
}

.login-wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.login-card {
    width: 100%;
    max-width: 1000px;
    background: #d8fff0;
    border: 2px solid #7edbb2;
    border-radius: 20px;
    padding: 30px 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


.login-card h6 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #024628;
}

.login-card .custom-input {
    border-radius: 12px;
    border: 2px solid #7edbb2;
    font-size: 16px;
    padding: 14px 12px;
    height: 50px;
}

.main-btn,
.google-btn {
    padding: 14px;
    font-size: 16px;
    border: 2px solid #7edbb2;
    background-color: #7edbb2;
    border-radius: 25px;
    width: 100%;
}

.google-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #eafff5;
    border: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.google-btn img {
    width: 20px;
    height: 20px;
}

.tiny-text {
    font-size: 13px;
    color: #555;
}

.text-end a {
    color: #1b6e4b;
    text-decoration: none;
    font-weight: 500;
}

.text-end a:hover {
    color: #024628;
    text-decoration: underline;
}

@media (max-width: 768px) {
    .login-card {
        padding: 20px;
    }
}

.footer-section {
    background-color: #c9f7df;
    color: #1b6e4b;
    padding: 40px 0 20px;
    font-family: 'Cairo', sans-serif;
}

.footer-section h6 {
    margin-bottom: 15px;
    font-weight: 700;
}

.footer-section p {
    line-height: 1.8;
    font-size: 0.95rem;
    margin: 0;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links li {
    margin-bottom: 8px;
}

.footer-links a {
    text-decoration: none;
    color: #1b6e4b;
    transition: color 0.3s, text-decoration 0.3s;
}

.footer-links a:hover {
    text-decoration: underline;
    color: #024628;
}

.social-icons {
    display: flex;
    gap: 10px;
    justify-content: start;
    margin-top: 10px;
}

.social-icons i {
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.3s, color 0.3s;
}

.social-icons i:hover {
    color: #024628;
    transform: scale(1.2);
}

.footer-bottom {
    background-color: #eafff5;
    font-size: 14px;
    padding: 10px 0;
    text-align: center;
}