body {
    font-family: 'Cairo', sans-serif;
    background-color: #ffffff;
    direction: rtl;
    text-align: right;
    margin: 0;
}

.login-wrapper {
    min-height: calc(100vh - 200px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px 20px 80px;
}

.login-card {
    width: 100%;
    max-width: 650px;
    background: #ffffff;
    border: 2px solid #14B8A6;
    border-radius: 18px;
    padding: 35px 30px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.08);
}

.login-card h6 {
    font-size: 22px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 8px;
}


.login-card .custom-input {
    border-radius: 10px;
    border: 2px solid #14B8A6;
    font-size: 14px;
    padding: 10px 12px;
    height: 45px;
}


.main-btn {
    width: 100%;
    padding: 12px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 40px;
    border: none;
    background: linear-gradient(135deg, #14B8A6, #0f9f8f);
    color: #fff;
    transition: 0.3s ease;
}

.main-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 14px rgba(20, 184, 166, 0.3);
}

.google-btn {
    width: 100%;
    padding: 12px;
    background-color: #ffffff;
    border: 1.5px solid #e0e0e0;
    border-radius: 40px;
    font-size: 14px;
    font-weight: 600;
    color: #444;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.05);
}

.google-btn img {
    width: 18px;
    height: 18px;
}

.google-btn:hover {
    background-color: #f9f9f9;
    border-color: #d6d6d6;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.08);
    transform: translateY(-1px);
}

.google-btn:active {
    transform: scale(0.98);
}


.tiny-text {
    font-size: 14px;
    color: #666;
    margin-top: 18px;
}

.tiny-text a {
    color: #14B8A6;
    text-decoration: none;
    font-weight: 600;
    position: relative;
    transition: 0.3s;
}

.text-end a:hover {
    color: #0f9f8f;
    text-decoration: underline;
}

@media (max-width: 768px) {
    .login-card {
        padding: 20px;
    }
}
